* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
  line-height: 1.5;
  scroll-behavior: smooth;
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
}

:root {
  /* Background color*/
  --bg-primary-color: #000000;
  --bg-fill-color : white;
  --bg-food-color : rgb(192, 15, 15);
  --bg-head-color : green;

  /* text color*/
  --text-primary-color: #d9dadb;

  /* font family*/
  --font-family: "Consolas", "Courier New", monospace;

  /* spacing var*/
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 48px;

  /* border color */
  --border-primary-color: #454444;

  /* border reduis */
  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --border-radius-xl: 20px;
  --border-radius-2xl: 24px;
  --border-radius-3xl: 28px;
}

main,
section {
  width: 100%;
  height: 100%;
}
main,
section {
  padding: var(--space-md) var(--space-lg) ;
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  .infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size:16px;
    .info {
      padding: var(--space-xs) var(--space-sm);
      border: 2px solid var(--border-primary-color);
      border-radius: var(--border-radius-sm);
    }
  }

  .board {
    width: 100%;
    flex-grow: 1;
    border: 2px solid var(--border-primary-color);
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(40px ,1fr));
    grid-template-rows: repeat(auto-fill , minmax(40px , 1fr));
  }


  .modal {
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0;
      background-color: #0e0e0e03;
      backdrop-filter: blur(10px);
      display: flex;
      justify-content: center;
      align-items: center;

      .start-game,.game-over{
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: var(--space-lg);

      }

      .game-over {
        display: none;
      }
   }
}


.block {
    // width: 30px;
    // height: 30px;
    border: 1px solid var(--border-primary-color);
    border-radius: 50%;
}

.fill {
   background-color: var(--bg-fill-color);
}

.food{
  background-color: var(--bg-food-color);
}

.green {
  background-color: var(--bg-head-color);
}

.btn {
    background-color: #767474fe;
    padding: var(--space-sm) var(--space-md);
    border: none;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    transition: all 0.3s ease;
    width: fit-content;
    // font-size: var(--space-md);
    // font-weight: 500;
    // color: white;
 }

 .btn:hover {
   transform:  scale(1.1);
 }

