* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family:var(--font-family); 
  line-height: 1.5;
  scroll-behavior: smooth;
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
}

:root {
    /* Background color*/ 
    --bg-primary-color : #1c1c1c;

    /* text color*/ 
     --text-primary-color : #d9dadb;

     /* font family*/ 
     --font-family:"Consolas", "Courier New", monospace;
   
     /* spacing var*/ 
     --space-xs:4px;
     --space-sm:8px;
     --space-md:16px;
     --space-lg:24px;
     --space-xl:32px;
     --space-2xl:40px;
     --space-3xl:48px;
 

     /* border color */ 
     --border-primary-color : #454444;
     
     /* border reduis */ 
     --border-radius-xs:4px;
     --border-radius-sm:8px;
     --border-radius-md:12px;
     --border-radius-lg:16px;
     --border-radius-xl:20px;
     --border-radius-2xl:24px;
     --border-radius-3xl:28px;
}

main, section {
    width: 100%;
    height: 100%;
}
section{
   padding: var(--space-3xl);
}
 .infos {
    width: 100%;
    display: flex;
    justify-content: space-between;

   .info {
         padding:var(--space-xs) var(--space-sm);
         border: 2px solid var(--border-primary-color);
         border-radius: var(--border-radius-sm);
    }
}

